*~
/__pycache__/
/src/polyquad/__pycache__/
/src/polyquad/_oldAnto.py
/dist/
/src/polyquad.egg-info/
/src/test_time.py
/src/#test_time.py#
/src/timmings.png
/README.html
/build/
/redo_pkg
/src/test.py
